@page "/whisper-server"
@using BlazorApp.Client.Pages
@rendermode InteractiveServer

<h1>Whisper.net blazor sample with InteractiveServer: runs in the server and streams the result back to the client using web socket</h1>

<WhisperComponent />
