<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="public_nugget" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" protocolVersion="3" />
    <!--<add key="Local Whisper" value="C:\Projects\sandrohanea\whisper.net\nupkgs" />-->
    <add key="dotnet9-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet9/nuget/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="public_nugget">
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet-eng">
      <package pattern="Microsoft.DotNet.XHarness" />
      <package pattern="Microsoft.DotNet.XHarness.*" />
    </packageSource>
  </packageSourceMapping>
  
</configuration>
