<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="whisper-auto">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Whisper Auto
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="whisper-wasm">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Whisper Wasm
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="whisper-server">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Whisper Server
            </NavLink>
        </div>

    </nav>
</div>

