name: Android Native build
permissions:
  contents: read

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      BuildConfig:
        required: true
        type: string
        default: "Release"

jobs:
  native-build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Install Android NDK
        uses: nttld/setup-ndk@afb4c9964b521afb97c864b7d40b11e6911bd410
        with:
          ndk-version: r25c

      - name: Run android build
        run: make android BUILD_TYPE=${{ inputs.BuildConfig }}

      - name: Upload Android Build Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: android-build
          path: "runtimes/Whisper.net.Run*/android-*/*"
          retention-days: 7
