name: Linux Cuda Native build

permissions:
  contents: read

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      BuildConfig:
        required: true
        type: string
        default: 'Release'

jobs:
  native-build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        cuda:
          - version: "13.0.1"
            target: linux_cuda
            artifact: linux-cuda-build
          - version: "12.4.1"
            target: linux_cuda12
            artifact: linux-cuda12-build
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install aarch64-linux-gnu-gcc
        run: sudo apt-get update && sudo apt-get install -y gcc-aarch64-linux-gnu && sudo apt-get install -y g++-aarch64-linux-gnu

      - name: Install gcc-arm-linux-gnueabihf
        run: sudo apt-get update && sudo apt-get install -y gcc-arm-linux-gnueabihf && sudo apt-get install -y g++-arm-linux-gnueabihf
      - name: Free disk space
        run: |
          sudo rm -rf /usr/local/lib/android \
                      /usr/share/dotnet \
                      /usr/local/share/boost \
                      /opt/ghc \
                      /usr/local/share/swift
          sudo apt-get clean
          df -h
      - name: Install CUDA Toolkit
        uses: Jimver/cuda-toolkit@1a3c14e26833ccf292b268f9a790fb47dea7b2da
        with:
          cuda: "${{ matrix.cuda.version }}"

      - name: Run linux-cuda
        run: |
          make ${{ matrix.cuda.target }} BUILD_TYPE=${{ inputs.BuildConfig }}

      - name: Remove CUDA installer
        run: rm -rf cuda_installer-*

      - name: Upload Linux Cuda Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.cuda.artifact }}
          path: "runtimes/Whisper.net.Run*/linux-*/*"
          retention-days: 7
