# This workflow will pack all the nuget packages
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Push Nuget Packages to nuget.org

permissions:
  contents: write

on:
  workflow_call:

jobs:
  push-nupkgs:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x

      - name: Download Artifacts
        id: download-artifact
        uses: actions/download-artifact@v4
        with:
          name: nupkgs
          path: nupkgs

      - name: Push to nuget.org
        run: |
              dotnet nuget push .\nupkgs\*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }}

      - name: Get version from package
        id: get-version
        run: |
              $version = (Get-ChildItem -Path nupkgs\*.nupkg | Select-Object -First 1).BaseName -replace '.*\.(\d+\.\d+\.\d+(-[a-zA-Z0-9]+)?)', '$1'
              git config user.email "sandrohanea@users.noreply.github.com"
              git config user.name "Sandro Hanea (auto)"
              git tag -a "$version" -m "Release version $version"
              git push --tags
