name: Windows ARM native build

on:
  workflow_dispatch: 


jobs:
  build:

    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          ref: ${{ github.head_ref }}
          
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1
        
      - name: Run Build
        run: | 
          Import-Module ./windows-scripts.ps1
          BuildWindowsArm
        shell: pwsh
        
      - name: Upload Windows Build Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: windows-arm-build
          path: 'Whisper.net.Run*/win-*/*'
