name: Windows OpenVino native build

on:
  workflow_dispatch: 
  workflow_call:
  
jobs:
  build:

    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          ref: ${{ github.head_ref }}
          
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2
        
      - name: Run Build
        run: | 
          Invoke-WebRequest -Uri https://storage.openvinotoolkit.org/repositories/openvino/packages/2024.4.1/windows/w_openvino_toolkit_windows_2024.4.1.16618.643f23d1318_x86_64.zip -OutFile openvino.zip
          Expand-Archive -Path openvino.zip -DestinationPath openvino
          .\openvino\w_openvino_toolkit_windows_2024.4.1.16618.643f23d1318_x86_64\setupvars.ps1
          Import-Module ./windows-scripts.ps1
          BuildWindowsBase -Arch "x64" -Configuration "Release"  -OpenVino $true
        shell: pwsh
        
      - name: Upload Windows OpenVino Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-openvino-build
          path: 'Whisper.net.Run*/win-*/*'
          retention-days: 7
