name: Windows Cuda native build

permissions:
    contents: read

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      BuildConfig:
        required: true
        type: string
        default: 'Release'

jobs:
  native-build:
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        cuda:
          - version: "13.0.1"
            major: "13"
            artifact: windows-cuda-build
          - version: "12.4.1"
            major: "12"
            artifact: windows-cuda12-build
    steps:
      - uses: actions/checkout@v4

        with:
          submodules: true

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@6fb02220983dee41ce7ae257b6f4d8f9bf5ed4ce

      - name: Install OpenCl with vcpkg
        run: |
          vcpkg --triplet=x64-windows install opencl

      - name: Install CUDA Toolkit
        uses: Jimver/cuda-toolkit@6008063726ffe3309d1b22e413d9e88fed91a2f2
        with:
          cuda: "${{ matrix.cuda.version }}"
          use-github-cache: false
          log-file-suffix: "${{ matrix.cuda.artifact }}"

      - name: Run Build
        run: |
          Import-Module ./windows-scripts.ps1
          BuildWindows -Arch "x64" -Cuda $true -Configuration ${{ inputs.BuildConfig }} -CudaVersion "${{ matrix.cuda.major }}"
        shell: pwsh

      - name: Remove CUDA installer
        run: Remove-Item -Path 'cuda_installer-*' -Recurse -Force -ErrorAction Ignore

      - name: Upload Windows Cuda Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.cuda.artifact }}
          path: "runtimes/Whisper.net.Run*/win-*/*"
          retention-days: 7
