name: Windows native build

permissions:
    contents: read

on:
  workflow_dispatch:
  workflow_call:

jobs:
  intel-native-build:
    runs-on: windows-2019

    steps:
      - uses: actions/checkout@v4

        with:
          submodules: true
          
      - name: Install Ninja
        id: install_ninja
        run: |
          choco install ninja
          
      - name: Run Build
        run: |
          Import-Module ./windows-scripts.ps1
          BuildWindowsIntel
        shell: pwsh

      - name: Upload Windows Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-build
          path: "runtimes/Whisper.net.Run*/win-*/*"
          retention-days: 7

  arm-native-build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          
      - name: Install Ninja
        id: install_ninja
        run: |
          choco install ninja
          
      - name: Run Build
        run: |
          Import-Module ./windows-scripts.ps1
          BuildWindowsArm
        shell: pwsh

      - name: Upload Windows Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-arm-build
          path: "runtimes/Whisper.net.Run*/win-*/*"
          retention-days: 7
